.card{
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 8px 0 rgba(0, 0, 0, 0.1), 0 4px 16px 0 rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    margin:10px;
    display: flex;
    min-height: 400px;
    flex-direction: column;
}

.card .product-category,
.card .product-rating{
color:  #ff8800;
text-transform: capitalize;
}

.product-tittle{
    color:#335599;
}

.product-price{
    color: #f05564;
    text-transform: capitalize;
    font-size: 24px;
}

.product-category,
.product-tittle,
.product-price,
.product-rating{
margin-bottom: 10px;
font-weight: 600;
}

.card:hover{
    -webkit-box-shadow: 8px 8px 37px 14px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 37px 14px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 37px 14px rgba(66, 68, 90, 1);
}

.card .img-wrapper{
    width: 100%;
    height: 350px;
}

.card .card-details{
    width: 100%;
    height: 30%;
    padding: 10px;
    color: #000;
    box-shadow-lg: 0 1px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 8px 0 rgba(0, 0, 0, 0.1), 0 4px 16px 0 rgba(0, 0, 0, 0.08);
}


.product-wrapper .img-wrapper{
    width: 100%;
    height: 70%;
}

.card .img-wrapper img{
    overflow: hidden;
}



.card .card-link{
    text-decoration: none;
    display: block;
    height: 100%;
}

.card .card-link:hover{
text-decoration: none;
}


.card .product-category-link{
    padding: 4px;
    border: 1px solid black;
    background-color: #fff;
    text-transform: capitalize;
    text-decoration: none;
    border-radius: 8px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.card .product-category-link:hover{
background-color: #000;
color: #fff;
}   


.img-section{
    display: flex;
}
.img-section .img-wrapper{
  height: 300px;
  width: 300px;
}